<ion-view view-title="Favorites" class="favorites-page">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar">
        <img ng-src="">
        <h2>Product Hunt 2.0</h2>
        <p>Discover and geek out about your next favorite thing</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="">
        <h2>Code4Startup 2.0</h2>
        <p>Learn to code by cloning real life apps</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="">
        <h2>Shyp</h2>
        <p>The easiest way to ship your stuff</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
